/*
========================================================================================
    Nextflow config file for running minimal tests
========================================================================================
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run nf-core/radseq -profile test,<docker/singularity>

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'Test profile'
    config_profile_description = 'Minimal test dataset to check pipeline function'

    // Limit resources so that this can run on GitHub Actions
    max_cpus                   = 2
    max_memory                 = '2.GB'
    max_time                   = '10.m'
    
    input                      = '/mnt/d/nextflow_testing/radseq/input.csv'

    genome                     = null

    // Method
    method                     = 'denovo'
    sequence_type              = 'PE'

    aligner                    = 'bwa-mem2'

    // Denovo options
    need_to_trim_fastq         = true
    clip_r1                    = 6
    clip_r2                    = 13

    minreaddepth_withinindividual   = 2 // defaults to 2,3
    minreaddepth_betweenindividual  = 2 // defaults to 2,3

    // umi options
    read_structure             = '+T 8M2S+T'
    umi_strategy               = 'Adjacency'
    extract_umi_from_readname  = false
    
    // CALLUMICONSENSUS
    umi_min_reads                  = 2
    umi_min_base_quality           = 5


}
